
<br>
  <% @courses.each do |course| %>
  <div class="container">

    <div class="row text-center text-lg-left">
    <div class= "col-lg-3 col-md-4 col-6">
        <%= image_tag course.image, style: "width: 300px;"%> 
        <p><b> <%= link_to(course.coursename, course_path(course) ) %> </b></p>
    </div>
  </div>

  </div>
 <% end %> 