


  <br>
    <% @courses.each do |course| %>
    <section>
        <div class="container">

              <div class="row">
                    <div class="col-md-3">
                           <%= image_tag course.image, style: "width: 300px;"%> 
                           <%= link_to(course.coursename, course_path(course)) %>
                        
                    </div> 
                    <br>
                    <div class="col-md-3">
                         
                            <%= course.description %>
                    </div>
                    <div class="col-md-3">
                      <h4>Duration</h4>
                          <h5> <%= course.hours %> Hours</h5>
                    </div>
                   
              </div>
        </div>
    </section>

   <% end %> 