<%= link_to("All Courses", course_index_path, :class => 'back-link') %>

<div class="subjects show">
	<h2>Show Subjects</h2>
	<table summary="Subject details view">
		<tr>
			<th> Name</th>
			<td><%= @course.coursename %></td>
		</tr>
		<tr>
			<th>Outline</th>
			<td><%= @course.courseoutline %></td>
		</tr>

	</table>
</div>