
    <!-- START HEADER -->
<header class="header_wrap dark_skin">

    <div class="news_ticker bg-warning">
    <div class="container">
    <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
        <a href="#" target="_blank">c</a> ||
        <a href="#" target="_blank">Special Discount for 2020 Bachelor & Master Student  </a> || 
        <a href="#" target="_blank">Elabs Available For Practice</a> || 
        <a href="#" target="_blank">AWS Training, Services</a> || 
        <a href="#" target="_blank">Special Batch for Corporates</a> ||
        <a href="#" target="_blank">Red Hat Trainings, Technical Support </a> || 
        <a href="#" target="_blank">Security Services, Penetration Testing</a>
    </marquee>
    </div>
</div>
</header>
<!-- END HEADER -->

<section class="small_pt">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8">
              <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="heading_s1 text-center">
                        <h2>Our Services</h2>
                    </div>
                    <!-- <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="overlay_bg_danger_90 icon_box text-center text_white background_bg animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="intro_desc">
                        <h5>Infrstructure Deployment</h5>
                        <p>IT infrastructure deployment typically involves defining the sequence of operations or steps, often referred to as a deployment plan, that must be carried to deliver changes into a target system environment. The individual operations within a deployment plan can be executed manually or automatically.
            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="overlay_bg_light_green_90 icon_box text-center text_white background_bg animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <div class="intro_desc">
                        <h5>Cloud Deployment</h5>
                        <p>Cloud deployment refers to the enablement of SaaS (software as a service), PaaS (platform as a service) or IaaS (infrastructure as a service) solutions that may be accessed on demand by end users or consumers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="overlay_bg_default_90 icon_box text-center text_white background_bg animation"  data-animation="fadeInUp" data-animation-delay="0.6s">
                    <div class="intro_desc">
                        <h5> Cloud Automation</h5>
                        <p>Cloud automation is a broad term that refers to the processes and tools an organization uses to reduce the manual efforts associated with provisioning and managing cloud computing workloads. IT teams can apply cloud automation to private, public and hybrid cloud environments.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>